.weather0 {
  border: 1px solid #dadde1;

  padding: 26px;
  border-radius: 30px;
  color: #716f77;
  font-family: Arial, sans-serif;
  background-color: black;
}
form {
  margin: 5px 5px 5px 15px;
}
