.weather h1 {
  font-size: 24px;
  font-weight: 100;
  line-height: 29px;
  margin: 20px 0 0 0;
}
.weather ul {
  padding: 0;
}
.weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}
.weather canvas {
  margin-right: 5px;
  margin-top: 5px;
  display: inline-block;
}
.temperature {
  font-weight: bold;
  color: rgb(251, 249, 249);
  font-size: 54px;
  font-weight: 400;
  line-height: 64px;
}
.unit {
  color: white;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
}
.weather .temp {
  position: relative;
  top: -10px;
}
@media only screen and (max-width: 600px) {
  .temperature {
    font-size: 48;
  }
  .weather li {
    font-size: 10;
  }
  .unit {
    font-size: 8px;
  }
}
