.weather0 {
  border: 1px solid #2d2828;
  padding: 26px;
  border-radius: 30px;
  color: #bbbbbc;
  font-family: Arial, sans-serif;
  background-color: rgb(0, 0, 0, 0.6);
}
form {
  margin: 5px 5px 5px 15px;
}
